* {
  -webkit-overflow-scrolling: touch;

  ::-webkit-scrollbar {
    opacity: 1;
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: $gray3;
    opacity: 1;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $gray3;
    opacity: 1;
  }
}

html,
body {
  color: $black;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  padding: 0;

  * {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
  }
}

html,
body,
.app,
.app-container {
  background-color: $white;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  width: 100%;
}

.app-container {
  flex-direction: row;
}

main {
  padding: 2rem;
  width: 100%;
}

.primary-button {
  background-color: $blue;
  border: 1px solid rgba($blue, 70%);
  color: $white;
  cursor: pointer;
  min-height: 35px;
  min-width: 7.5rem;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }

  &:hover:not(:disabled) {
    opacity: 0.8;
  }
}
