.navigation {
  background: $gray3;
  display: flex;
  flex-direction: column;
  min-width: 150px;
  padding: 20px 0;
  user-select: none;
  width: 150px;

  &__link {
    align-items: center;
    color: $white;
    cursor: pointer;
    display: flex;
    height: 40px;
    padding: 0 20px;
    position: relative;

    &-back {
      background-color: $gray2;
      margin-bottom: 20px;
    }

    &.active {
      background: rgba($white, 80%);
      color: $gray;
    }
  }
}
